footer {
    div {
        display: flex;
        flex-grow: 1;
        
        div {
            display: inline;
            width: 50vw;
            flex-wrap: wrap;
            border: 1px dotted black;
            &:nth-of-type(2) {
                height: 40vw;
            }
        }
        &:nth-of-type(2) {
            border: 1px dotted black;
            height: 5vw;
        }
    }
}
