footer {
    // border: 1px solid darkgray;
    display: flex;
    margin: 10vw auto;
    width: 80vw;

    form {
        margin-right: 2vw;
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        // min-width: 200px;

        h2 {
            text-align: center;
            font-size: 2vw;
            padding-bottom: 1vw;
        }

        input {

            padding: .5vw;
            width: 100%;
            border: .5px solid darkgray;
            border-radius: 5px;
            margin-bottom: .8vw;

            &::placeholder {
                font-size: 1.5vw;
            }
        }

        textarea {
            width: 100%;
            height: 10vw;
            padding: .5vw;
            border: .5px solid darkgray;
            border-radius: 5px;
            margin-bottom: 2vw;

            &::placeholder {
                font-size: 1.5vw;
            }
        }

        

        button {
            background: white;
            border-radius: 5px;
            padding: .2vw 0;
            font-size: 2vw;
            margin: 2vw 2vw;
        }
    }

    div#container-map {
        height: 30vw;
        width: 100%;
        min-width: 300px;
        margin: 0 auto;

        div#map {
            border-radius: 2vw;
            height: 100%;
            width: 100%;
        }
    }
}