article {
    margin: 3vw auto 3vw auto;

    // From here on came the title
    h2 {
        font-size: 1em;
        width: 80%;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: #000;
        }
        p {
            font-size: .8em;
            color: darkgray;
        }
    }
    
    // From here on came image an article list
    div {
        img {
            width: 100%;
        }   
        article {
            width: 80%;
            font-size: .9em;
        }
    }
}