section#main {
    h1 {
        font-size: 1.5em;
    }
    div {
        img {
            width: 100%;

        }
        article {

        }
    }
    
}

aside {
    margin: 0 auto;
    width: 80%;
    div {
        margin-bottom: 2vw;
    }
    div#arrows {
        display: flex;
        justify-content: space-between;
    }
}
