{{ define "main" }}
{{ range first 10 .Pages }}
<article>
    <!-- this <div> includes the title summary -->
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a><p>{{ .Date.Format "Jan 2, 2006" }}</p></h2>
    
    <div>
        <img {{ with .Params.featured_image }} src="{{ . }}" {{ end }} alt="{{ .Title }}">
        <article>{{ .Summary }} <a href="{{ .RelPermalink }}">Read More…</a></article>
        
    </div>
    {{ if .Truncated }}
    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
    {{ end }}
</article>
{{ end }}
{{ end }}